<% @location.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>


<div class="container">


<%= form_for [@city, @item, @location, @comment] do |f| %>

  <div class="form-group">
    <%= f.label :Comment %>
    <%= f.text_area :text, class: "form-control", placeholder:"Name"  %>
  </div>

  <br>


  <%= f.submit %>

<% end %>

</div>
