<% @location.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>


<div class="container">


<%= form_for [@city, @item, @location] do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control form", placeholder:"Name"  %>
  </div>

  <br>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control", placeholder:"Address" %>
  </div>

  <br>

  <div class="form-group">
    <%= f.label :"Image URL" %>
    <%= f.text_field :img_url, class: "form-control", placeholder:"Image URL" %>
  </div>

  <br>

  <%= f.submit %>

<% end %>

</div>
