<div class="container">



<h1><%= @location.name %> <span class="edit-link"><%= link_to "(Edit)", edit_city_item_location_path%></span></h1>

<br>

<img class="location-image" src="<%= @location.img_url %>" alt="<%= @location.name%>" >

<p>
  <%= @location.address%>
</p>



<%= link_to "Add Comment", new_city_item_location_comment_path(@city,@item,@location)%>
  <br>
  <p>Comments:</p>
  <% @comments.each do |comment| %>
    <p>
      <%= comment.text%>
    </p>
  <% end %>

</div>
