<!DOCTYPE html>
<html>
  <head>
    <title>BBQ Review</title>
    <%= csrf_meta_tags %>
    <!-- favicon -->
    <%= favicon_link_tag 'FaviconBBQ.png' %>

    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>


  <% flash.each do |type, message| %>
    <p class="flash <%= type %>"><%= message %></p>
  <% end %>

  <nav class="nav-bar">
  <div class="container-fluid">
    <div class="navbar-left">
      <a class="navbar-logo" href="<%= root_path %>">BBQ Review</a>
    </div>

    <ul class="nav-login">

      <% if !current_user %>
        <li><a href= "<%= new_user_registration_path %>" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="<%= new_user_session_path %>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

      <% else %>
        <li><a href="<%= edit_user_registration_path %>"><span class="glyphicon"></span><%= current_user.email %></a></li>
        <li><%= link_to "SignOut", destroy_user_session_path, :method => :delete, :class => "glyphicon glyphicon-log-out" %></li>


      <% end %>
    </ul>
  </div>
</nav>

    <%= yield %>


  </body>
</html>
